
 <div class="container">
    <ul class="nav nav-tabs" id="mainClass">
        <li class="nav-item" ><a class="nav-link active" href="admin">View All Users</a></li>
        <li class="nav-item" *ngIf="userIsAdmin"><a class="nav-link" href="addUser">Add User</a></li> 
        <li class="nav-item navbar-right"><a class="nav-link" (click)=logout()>Logout</a></li>         
    </ul>
    </div>
    <div class = 'container usersClass'>
        <h3>List Of Users</h3>
        <div class = 'table-responsive'>
            <table class = 'table users'>
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Contact</th>
                        <th scope="col">EmailId</th>
                        <th scope="col">Password</th>
                        <th scope="col">Role</th>
                        <th scope="col" rowspan="2" *ngIf="userIsAdmin">Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="userIsProfessor">
                    <tr *ngFor = "let user of users">
                        <td>{{user.uId}}</td>
                        <td>{{user.fullName}}</td>
                        <td>{{user.contact}}</td>
                        <td>{{user.emailId}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.role}}</td>
                        <td *ngIf="userIsAdmin"><button type ="button" class="btn btn-sm btn-default editButton" (click)= "onSelectUser(user)">Edit</button></td>
                        <td *ngIf="userIsAdmin"><button type ="button" id="deleteButton" class="btn btn-sm btn-default deleteButton" (click)= "deleteConfirm(user)">Delete</button></td>
                    </tr>
                </tbody>
                <tbody *ngIf="!userIsProfessor">
                    <tr>
                        <td>{{user.uId}}</td>
                        <td>{{user.fullName}}</td>
                        <td>{{user.contact}}</td>
                        <td>{{user.emailId}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.role}}</td>
                        <td *ngIf="userIsAdmin"><button type ="button" class="btn btn-sm btn-default editButton" (click)= "onSelectUser(user)">Edit</button></td>
                        <td *ngIf="userIsAdmin"><button type ="button" id="deleteButton" class="btn btn-sm btn-default deleteButton" (click)= "deleteConfirm(user)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class = "container">    
        <div *ngIf = "selectedUser">
            <h4>Update User</h4>
            <form method="POST">
                <label>Full Name:</label>
                <input type="text" class="form-control" [(ngModel)] = "selectedUser.fullName" name="fullName">
                <label>Contact:</label>
                <input type="text" class="form-control" [(ngModel)] = "selectedUser.contact" name="contact">
                <label>Email Id:</label>
                <input type="email" class="form-control" [(ngModel)] = "selectedUser.emailId" name="emailId">
                <label>Password:</label>
                <input type="password" class="form-control" [(ngModel)] = "selectedUser.password" name="password">
                <button type = "submit" class="btn btn-primary updateButton" (click)="updateUser(selectedUser)">Update User</button>
            </form>
        </div>
    </div>
    
    
    